# Node.js
node_modules/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Середовище
.env

# Firebase ключ
serviceAccountKey.json

# Збірка фронтенду (якщо копіюється)
dist/
build/

# ОС
.DS_Store
Thumbs.db

# Інше
*.local 